src/main/mule/payment-proc-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="payment-proc-api-main">
        <http:listener config-ref="payment-proc-api-httpListenerConfig" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="start logger" doc:id="73d66485-1546-42ec-933e-924483036ed7" message="start logger"/>
		<apikit:router config-ref="payment-proc-api-config" />
		<error-handler ref="globalErrorHandler" />
    </flow>
    <flow name="payment-proc-api-console">
        <http:listener config-ref="payment-proc-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="payment-proc-api-config" />
		<error-handler ref="globalErrorHandler" />
    </flow>
    <flow name="get:\payment:payment-proc-api-config">
		<flow-ref doc:name="get-paymentFlow" doc:id="78923fdc-8d65-4005-99f0-61c215a84bb6" name="get-paymentFlow" />
    </flow>
    <flow name="post:\payment:application\json:payment-proc-api-config">
		<ee:transform doc:name="Transform Message" doc:id="c0e67a1c-145a-4a03-ba63-780ebd83f56b" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="orgPayload" ><![CDATA[payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="post-paymentFlow" doc:id="9f8ca4e0-05c0-4891-a530-ee206c7a63bd" name="post-paymentFlow" />
    </flow>
</mule>
